{
  "presets": [
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "entry",
        "corejs": "3.9"
      }
    ],
    "@babel/preset-react"
  ],
  "plugins": [
    ["@babel/plugin-transform-runtime", { "corejs": false }],
    ["@babel/plugin-proposal-decorators", { "legacy": true }],
    ["@babel/plugin-proposal-class-properties", { "loose": true }]
  ]
}
